/* Este es el estilo global */
html, body {
    background-color: #ffc107;
}

.main-image-container {
    width: 231px;
    height: 120px;
    padding: 50px;
}

.main-image-container img {
    width: 100%;
    height: auto;
}